@import "tailwindcss";
@font-face {
  font-family: "Alexandria";
  src: url("/fonts/Alexandria-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Alexandria";
  src: url("/fonts/Alexandria-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Alexandria";
  src: url("/fonts/Alexandria-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Alexandria";
  src: url("/fonts/Alexandria-ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Alexandria";
  src: url("/fonts/Alexandria-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Alexandria";
  src: url("/fonts/Alexandria-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Alexandria";
  src: url("/fonts/Alexandria-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Alexandria";
  src: url("/fonts/Alexandria-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Alexandria";
  src: url("/fonts/Alexandria-Thin.ttf");
  font-weight: 100;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  direction: rtl;
}
body {
  background-color: #242424;
}
a {
  font-weight: 500;
  text-decoration: inherit;
}
