@import "tailwindcss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
}
html {
  direction: rtl;
}
a {
  font-weight: 500;
  text-decoration: inherit;
}
